<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.MetaDataManageMapper">
    
    <resultMap type="TbCodingSchemeFieldMaintenanceVo" id="TbCodingSchemeFieldMaintenanceResult">
        <result property="id"    column="id"    />
        <result property="fieldName"    column="field_name"    />
        <result property="fieldIdentification"    column="field_identification"    />
        <result property="applyScope"    column="apply_scope"    />
    </resultMap>

    <resultMap type="TbCodingSchemeFieldMaintenanceDetailVo" id="TbCodingSchemeFieldMaintenanceResultVo">
        <result property="id"    column="id"    />
        <result property="fieldName"    column="field_name"    />
        <result property="fieldIdentification"    column="field_identification"    />
        <result property="maintenanceTime"    column="maintenance_time"    />
        <result property="applyScope"    column="apply_scope"    />
        <result property="isScopeH5"    column="is_scope_h5"    />
        <result property="isScopeNative"    column="is_scope_native"    />
        <result property="isScopeMini"    column="is_scope_mini"    />
        <result property="isRequired"    column="is_required"    />
        <result property="maxLength"    column="max_length"    />
        <result property="isContentDigit"    column="is_content_digit"    />
        <result property="isContentLetter"    column="is_content_letter"    />
        <result property="isContentChinese"    column="is_content_chinese"    />
        <result property="isContentUnderscore"    column="is_content_underscore"    />
        <result property="businessDescription"    column="business_description"    />
        <result property="technicalDescription"    column="technical_description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTbCodingSchemeFieldMaintenanceVo">
        select id, field_name, field_identification, maintenance_time, apply_scope, is_scope_h5, is_scope_native, is_scope_mini, is_required, max_length, is_content_digit, is_content_letter, is_content_chinese, is_content_underscore, business_description, technical_description, create_time, update_time, create_by, update_by from tb_coding_scheme_field_maintenance
    </sql>

    <sql id="selectTbCodingSchemeFieldMaintenanceList">
        select id, field_name, field_identification, apply_scope from tb_coding_scheme_field_maintenance
    </sql>

    <select id="selectMetaDataList" parameterType="TbCodingSchemeFieldMaintenanceVo" resultMap="TbCodingSchemeFieldMaintenanceResult">
        <include refid="selectTbCodingSchemeFieldMaintenanceList"/>
        <where>  
            <if test="fieldName != null and fieldName != ''"> and field_name like concat('%', #{fieldName}, '%')</if>
            <if test="fieldIdentification != null and fieldIdentification != ''"> and field_identification like concat('%', #{fieldIdentification}, '%')</if>
        </where>
    </select>

    <select id="selectMetaDataById" parameterType="String" resultMap="TbCodingSchemeFieldMaintenanceResultVo">
        <include refid="selectTbCodingSchemeFieldMaintenanceVo"/>
        where id = #{id}
    </select>

    <insert id="insertMetaData" parameterType="TbCodingSchemeFieldMaintenanceDetailVo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_coding_scheme_field_maintenance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">field_name,</if>
            <if test="fieldIdentification != null and fieldIdentification != ''">field_identification,</if>
            <if test="maintenanceTime != null">maintenance_time,</if>
            <if test="applyScope != null and applyScope != ''">apply_scope,</if>
            <if test="isScopeH5 != null">is_scope_h5,</if>
            <if test="isScopeNative != null">is_scope_native,</if>
            <if test="isScopeMini != null">is_scope_mini,</if>
            <if test="isRequired != null">is_required,</if>
            <if test="maxLength != null">max_length,</if>
            <if test="isContentDigit != null">is_content_digit,</if>
            <if test="isContentLetter != null">is_content_letter,</if>
            <if test="isContentChinese != null">is_content_chinese,</if>
            <if test="isContentUnderscore != null">is_content_underscore,</if>
            <if test="businessDescription != null and businessDescription != ''">business_description,</if>
            <if test="technicalDescription != null and technicalDescription != ''">technical_description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="fieldIdentification != null and fieldIdentification != ''">#{fieldIdentification},</if>
            <if test="maintenanceTime != null">#{maintenanceTime},</if>
            <if test="applyScope != null and applyScope != ''">#{applyScope},</if>
            <if test="isScopeH5 != null">#{isScopeH5},</if>
            <if test="isScopeNative != null">#{isScopeNative},</if>
            <if test="isScopeMini != null">#{isScopeMini},</if>
            <if test="isRequired != null">#{isRequired},</if>
            <if test="maxLength != null">#{maxLength},</if>
            <if test="isContentDigit != null">#{isContentDigit},</if>
            <if test="isContentLetter != null">#{isContentLetter},</if>
            <if test="isContentChinese != null">#{isContentChinese},</if>
            <if test="isContentUnderscore != null">#{isContentUnderscore},</if>
            <if test="businessDescription != null and businessDescription != ''">#{businessDescription},</if>
            <if test="technicalDescription != null and technicalDescription != ''">#{technicalDescription},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

</mapper>