<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.TbCodingSchemeChannelNumberManageMapper">

    <resultMap type="com.dkd.manage.domain.vo.OptionBusinessVo" id="OptionBusinessVoResult">
        <result property="value" column="value"/>
        <result property="label" column="label"/>
    </resultMap>

    <!-- 查询所有渠道号 -->
    <select id="selectAll" resultMap="OptionBusinessVoResult">
        SELECT
            channel_number AS value,
            channel_name AS label
        FROM tb_coding_scheme_channel_number_manage
        ORDER BY channel_name
    </select>

</mapper>
