<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.TbEasydataUserTrackinfoCompleteAllMapper">

    <!-- 自定义规则查询-没有对比时间 -->
    <select id="queryDynamicGroupWithoutCompareTime"
            parameterType="com.dkd.manage.domain.vo.CustomizeRuleQueryVo"
            resultType="java.util.HashMap">
        WITH t1 AS (
            <!-- 基本数据筛选,条件:统计时间、数据源ID、事件类型、营销活动码、页面链接 -->
            SELECT *
            FROM easydata.tb_easydata_user_trackinfo_complete_all
            WHERE statis_date IN
            <foreach collection="all_days" item="day" open="(" separator="," close=")">
                #{day}
            </foreach>

            <!-- 数据源id -->
            <if test="dataSourceId != null and dataSourceId != ''">
                AND trmnl_style IN
                <foreach collection="dataSourceId.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 事件类型 -->
            <if test="eventType != null and eventType != ''">
                AND wt_et IN
                <foreach collection="eventType.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 营销活动码 -->
            <if test="marketCode != null and marketCode != ''">
                AND wt_mc_ev IN
                <foreach collection="marketCode.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 页面链接 -->
            <if test="pageUrl != null and pageUrl != ''">
                AND wt_es IN
                <foreach collection="pageUrl.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        ),

        t2 AS (
            <!-- 筛选时间 -->
            SELECT *
            FROM t1
            WHERE CASE
                WHEN data_source = '51006'
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(wt_dcsdat,'0')),1000)))
                WHEN data_source IN ('51007','51010')
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(dcsdat,'0')),1000)))
                ELSE wt_dcsdat
            END BETWEEN #{statisticsTimeStart} AND #{statisticsTimeEnd}
        ),

        t3 AS (
            <!-- 根据多个字段分组 -->
            SELECT ${checkField},
                   count(*) AS statistics_num
            FROM t2
            GROUP BY ${checkField}
            ORDER BY statistics_num DESC
            LIMIT 100
        ),

        t4 AS (
            <!-- 求各组的占比 -->
            SELECT t3.*,
                   toDecimal64(statistics_num * toDecimal64(100.0,6) /
                   (SELECT SUM(statistics_num) FROM t3),2) AS statistics_occupy
            FROM t3
        )
        SELECT *
        FROM t4
    </select>

    <!-- 自定义规则查询-有对比时间 -->
    <select id="queryDynamicGroupWithCompareTime"
            parameterType="com.dkd.manage.domain.vo.CustomizeRuleQueryVo"
            resultType="java.util.HashMap">

        <!-- 将checkField逗号分隔的字符串分割为数组 -->
        <bind name="fieldArray" value="checkField.split(',')" />

        WITH t1 AS (
            <!-- 基本数据筛选,条件:统计时间、数据源ID、事件类型、营销活动码、页面链接 -->
            SELECT *
            FROM easydata.tb_easydata_user_trackinfo_complete_all
            WHERE statis_date IN
            <foreach collection="all_days" item="day" open="(" separator="," close=")">
                #{day}
            </foreach>

            <!-- 数据源id -->
            <if test="dataSourceId != null and dataSourceId != ''">
                AND trmnl_style IN
                <foreach collection="dataSourceId.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 事件类型 -->
            <if test="eventType != null and eventType != ''">
                AND wt_et IN
                <foreach collection="eventType.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 营销活动码 -->
            <if test="marketCode != null and marketCode != ''">
                AND wt_mc_ev IN
                <foreach collection="marketCode.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <!-- 页面链接 -->
            <if test="pageUrl != null and pageUrl != ''">
                AND wt_es IN
                <foreach collection="pageUrl.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        ),

        t2 AS (
            <!-- 筛选时间(统计时间) -->
            SELECT *
            FROM t1
            WHERE CASE
                WHEN data_source = '51006'
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(wt_dcsdat,'0')),1000)))
                WHEN data_source IN ('51007','51010')
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(dcsdat,'0')),1000)))
                ELSE wt_dcsdat
            END BETWEEN #{statisticsTimeStart} AND #{statisticsTimeEnd}
        ),

        t3 AS (
            <!-- 根据多个字段分组 -->
            SELECT ${checkField},
                   count(*) AS statistics_num
            FROM t2
            GROUP BY ${checkField}
            ORDER BY statistics_num DESC
            LIMIT 100
        ),

        t4 AS (
            <!-- 求各组的占比 -->
            SELECT t3.*,
                   toDecimal64(statistics_num * toDecimal64(100.0,6) /
                   (SELECT SUM(statistics_num) FROM t3),2) AS statistics_occupy
            FROM t3
        ),

        t5 AS (
            <!-- 筛选时间(对比时间) -->
            SELECT *
            FROM t1
            WHERE CASE
                WHEN data_source = '51006'
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(wt_dcsdat,'0')),1000)))
                WHEN data_source IN ('51007','51010')
                    THEN toString(FROM_UNIXTIME(intDiv(toInt64OrZero(ifNull(dcsdat,'0')),1000)))
                ELSE wt_dcsdat
            END BETWEEN #{compareTimeStart} AND #{compareTimeEnd}
        ),

        t6 AS (
            <!-- 根据多个字段分组 -->
            SELECT ${checkField},
                   count(*) AS compare_num
            FROM t5
            GROUP BY ${checkField}
            ORDER BY compare_num DESC
            LIMIT 100
        ),

        t7 AS (
            <!-- 求各组的占比 -->
            SELECT t6.*,
                   toDecimal64(compare_num * toDecimal64(100.0,6) /
                   (SELECT SUM(compare_num) FROM t6),2) AS compare_occupy
            FROM t6
        )

        SELECT
        <foreach collection="fieldArray" item="field" separator=",">
            CASE
                WHEN COALESCE(t4.statistics_num,0) != 0 THEN t4.${field}
                WHEN COALESCE(t7.compare_num,0) != 0 THEN t7.${field}
                ELSE COALESCE(t4.${field}, t7.${field})
            END AS ${field}
        </foreach>,

        COALESCE(t4.statistics_num,0) AS statistics_num,
        COALESCE(t4.statistics_occupy,0) AS statistics_occupy,
        COALESCE(t7.compare_num,0) AS compare_num,
        COALESCE(t7.compare_occupy,0) AS compare_occupy,

        <!-- 绝对变化量 -->
        (COALESCE(t4.statistics_num,0) - COALESCE(t7.compare_num,0)) AS absolute_change,

        <!-- 变化率 -->
        CASE
            WHEN toDecimal64(COALESCE(t7.compare_num,0),0) = 0 THEN
                CASE
                    WHEN toDecimal64(COALESCE(t4.statistics_num,0),0) = 0 THEN toDecimal64(0.0,1)
                    ELSE toDecimal64(100.0,1)
                END
            ELSE
                toDecimal64(
                    (toDecimal64(COALESCE(t4.statistics_num,0),0) -
                     toDecimal64(COALESCE(t7.compare_num,0),0)) *
                    toDecimal64(100.0,6) /
                    toDecimal64(COALESCE(t7.compare_num,0),0),
                    1
                )
        END AS change_rate

        FROM t4
        FULL OUTER JOIN t7
        ON
        <foreach collection="fieldArray" item="field" separator=" AND ">
            ifNull(t4.${field}, '') = ifNull(t7.${field}, '')
        </foreach>
    </select>

</mapper>
